@font-face {
    font-family: 'beau_rivageregular';
    src: url('./fonts/beaurivage-regular-webfont.woff2') format('woff2'),
         url('./fonts/beaurivage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('./fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.fleur-de-leah-regular {
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



/* --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------body and header---------------- */

body {
    background: black;
}

header {
    width: 100%;
    background-color: white;
}


#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 6px;
}

#title {
    font-family: 'Dancing Script';
    font-size: 36px;
}

#logo {
    width: 100px;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 6px;
    margin-bottom: 12px;
}


.nav-btn {
    border: none;
    background-color: transparent;
    font-family: 'Poiret One';
    font-size: 20px;
}



/* -----------photo frame------------- */

#photoFrame {
    width: 700px;
    height: 550px;
    margin: 0 auto;
    margin-top: 36px;
    position: relative;
    margin-bottom: 36px;
}

#photo,  #photo-btn-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#photo {
    object-fit: cover;
    filter: drop-shadow(1px 1px 1px rgba(115, 113, 113, 0.8));
}

#photo-btn-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

#left-photo-btn, #right-photo-btn {
    width: 65px;
}

#left-photo-btn:hover, #right-photo-btn:hover {
    filter: invert(100%);
    filter:drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}

#left-photo-btn {
    margin-left: 15px;
}

#story-intro-container {
    width: 100%;
    background-color: white;
    padding: 40px 120px;
}

#topic {
    padding-bottom: 12px;
    font-family: 'Dancing Script';
    font-size: 24px;
}

#story {
    font-family: 'Poiret One';
    font-size: 18px;
    font-weight: 900;
}



/* ------------who picture--------------- */

#whole-pic {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#whole-pic-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 70%;
}

#footer-container {
    height: 200px;
    width: 100%;
    color: white;
}

#foot-note {
    white-space: pre-line;
    line-height: 36px;
    text-align: center;
    margin-top: 36px;
}